.ekskul {
    color: white;
    width: 100%;
    padding: 57px 15px;
}

.ekskul a {
    color: white;
    text-decoration: none;
}

.ekskul .title h2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.ekskul .title h3 {
    font-weight: 400;
}

.ekskul .subtitle {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;

}


.wrap-eks {
    width: 90%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 80px;
    margin-bottom: 150px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.4) 20%,
        rgba(0, 0, 0, 0.6) 40%,
        rgba(0, 0, 0, 0.8) 60%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0) 100%
      );
}


@keyframes scrollLeft {
    to {
      left: -200px;
    }
  }

.itemstyle {
    width: 140px;
    height: 50px;
    border-radius: 6px;
    position: absolute;
    left: max(calc(140px * 19), 100%);
    animation-name: scrollLeft;
    animation-play-state: running;
    animation-duration: 35s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}


.item1 {
    animation-delay: calc(35s / 19 * (19 - 1) * -1);
  }
  
  .item2 {
    animation-delay: calc(35s / 19 * (19 - 2) * -1);
  }
  
  .item3 {
    animation-delay: calc(35s / 19 * (19 - 3) * -1);
  }
  
  .item4 {
    animation-delay: calc(35s / 19 * (19 - 4) * -1);
  }
  
  .item5 {
    animation-delay: calc(35s / 19 * (19 - 5) * -1);
  }
  
  .item6 {
    animation-delay: calc(35s / 19 * (19 - 6) * -1);
  }
  
  .item7 {
    animation-delay: calc(35s / 19 * (19 - 7) * -1);
  }
  
  .item8 {
    animation-delay: calc(35s / 19 * (19 - 8) * -1);
  }

  .item9 {
    animation-delay: calc(35s / 19 * (19 - 9) * -1);
  }

  .item10 {
    animation-delay: calc(35s / 19 * (19 - 10) * -1);
  }
  
  .item11 {
    animation-delay: calc(35s / 19 * (19 - 11) * -1);
  }

  
  .item12 {
    animation-delay: calc(35s / 19 * (19 - 12) * -1);
  }

  
  .item13 {
    animation-delay: calc(35s / 19 * (19 - 13) * -1);
  }

  
  .item14 {
    animation-delay: calc(35s / 19 * (19 - 14) * -1);
  }
  
  .item15 {
    animation-delay: calc(35s / 19 * (19 - 15) * -1);
  }
  
  .item16 {
    animation-delay: calc(35s / 19 * (19 - 16) * -1);
  }
  
  .item17 {
    animation-delay: calc(35s / 19 * (19 - 17) * -1);
  }
  
  .item18 {
    animation-delay: calc(35s / 19 * (19 - 18) * -1);
  }
  
  .item19 {
    animation-delay: calc(35s / 19 * (19 - 19) * -1);
  }